*{
    font-family: Georgia;
}
body,html{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
}
.baner1{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}
.baner2{
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}
.banerMain{
    display: flex;
}
nav{
    background-color: navy;
    padding: 20px;
}
.labelka{
    color: silver;
    margin: 50px;
}
.labelka:hover{
    color: white;
    text-decoration: underline;
}
.left{
background-color: azure;
height: 550px;
width: 70%;
}
.right{
    background-color: azure;
    height: 550px;
    width: 30%;
}
footer{
    background-color: navy;
    color: white;
}
table{
    border: 1px solid navy;
    margin: auto;
    width: 70%;
}
tr:hover{
    background-color: skyblue;
}
.right img{
    width: 90%;
}
