.chat{
    padding: 15px;
    text-align: center;
}
#przycisk{
    padding: 15px;
    margin: 5px;
}
legend{
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    font-family: sans-serif;
}
.pojemnik{
    display: flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    min-height: 50vh;
}
#przycisk2{
    padding: 15px;
    margin: 5px;
}
img{
    width: 100px;
    height: auto;
}
.butony{
    display: flex;
    flex-direction: column;
    
}